*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.usuario{
    margin-left: 1140px;
    margin-top: -100px;
}

:any-link{
    text-decoration: none;
}

.pagina-Entrega {
    background-image:url(../imagenes/Imagendf.png) ;
    background-size: cover;
}

h1{
    text-align: center;
}

table{
    border-collapse: collapse;
}

th{
    padding: 8px;
    width: 200px; 
    border-radius: 10px;
}

tr{
    background: rgb(77, 122, 206);
}

input{
    margin-bottom: 0px;
}

.suguiente{
    margin-left:950px ;
    margin-bottom:50px;
}
.volver{
    position: absolute;
}

.nombre{
    padding: 5px;
    border-radius: 25px;
    width: 450px;
    font-size: 20px;
}

.apellido{
    padding: 5px;
    border-radius: 25px;
    width: 450px;
    font-size: 20px;
}

.d_entrega{
    padding: 5px;
    width: 950px;
    border-radius: 25px;
    font-size: 20px;
}

.contenedor{
    display: inline-block;
    margin: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    top: 260px;
    left: 150px;
}

.contenedor1{
    display: inline-block;
    margin: 650px;
    position: absolute;
    top: -389px;
    right: -480px;
}

.contenedor2{
    display: block;
    margin: 40px;
    margin-top: 200px;
    margin-left: 190px;

}

.contenedor3{
    margin: 70px;
    margin-left: 200px;
}

.descripcion__textarea{
    border-radius: 25px;
}

.p{
    background-color: rgb(106, 167, 218);
    border-radius: 10px;
    width: 130px;
    color: black;
    padding: 15px 0px;
    text-align: center;
    position: relative;
    left: 800px;
    
}

.sub{
    display: inline-block;
    margin: 650px;
    padding: 15px 0px;
    position: absolute;
    top: 275px;
    left: 300px;
    height: 40px;
}

.igv{
    display: inline-block;
    margin: 650px;
    padding: 15px 0px;
    position: absolute;
    top: 320px;
    left: 300px;
    height: 40px;
}

.total{
    display: inline-block;
    margin: 650px;
    padding: 15px 0px;
    position: absolute;
    top: 370px;
    left: 300px;
    height: 40px;
}



/*Buscador de contenido*/
  
#ctn-bars-search{  
    top: -10px;
    width: 100%; 
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 500px;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    outline: 0;
    margin-left: 100px;
    margin-top: -100px;
    font-size: 20px;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 495px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
    margin-top: -95px;
    margin-left: -270px;
    
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

.soporte-conten__input {
    display: inline-block;
    background-color: cornflowerblue;
    margin-left: 900px;
    line-height: 3;
    width: 150px;
    border-radius: 12px;
    font-size: 20px;
}